# Environnement virtuel Python
.venv/
.venv_jed/

# Fichiers compilés Python
__pycache__/
*.py[cod]

scan_test.py
steptime.py
traintime.py

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# macOS
.DS_Store

# Fichiers de build
*.egg-info/
dist/
build/

# Éditeurs
.vscode/
*.swp
